:root { /* standard colors */
	--sol-green: #00c895;
	--sol-mid-green: #00AB91;
	--sol-dark-green: #009191;
	--lightest-gray: #E0E0E0;
	--sol-lite-gray: #DCDEE0;
	--mid-lite-gray: #909090;
	--sol-mid-gray: #474747;
	--sol-dark-gray: #333333;
	--transparent-gray: rgb(51, 51, 51, 0.1);
	--off-white: #FAFAFA;
}
/* define baseline for all elements */
body { 
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-family: Rubik, Roboto;
	height: 100vh;
	margin: 0px;
	min-height: 500px;
	overflow: auto;
}
svg {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}
svg.navi-ico {
	height: 10px;
	width: 20px;
	vertical-align: middle;
}
svg.std-ico {
	height: 15px;
	width: 15px;
	vertical-align: middle;
}
svg.std-ico-100 {
	height: 100px;
	width: 100px;
	vertical-align: middle;
}
table {
	background-color: inherit;
	box-sizing: border-box;
	border-collapse: collapse;
	border-spacing: 0px;
}
th {
	padding: 7px;
}

/* custom classes */
.flex-container-col {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
.flex-container-row {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.flex-item {
	flex: 1 1 auto;
	overflow: auto;
}
.no-flex-item {
	flex: 0 0 auto;
}
.bg-off-white {
	background-color: var(--off-white);
}
.bg-trans-gray {
	background-color: var(--transparent-gray);
}
.expand-container-toggle {
	cursor: pointer;
	padding: 5px 5px 10px 5px;
}
.hidden {
	display: none;
}
.inline {
	display: inline;
}
.log-style {
	filter: brightness(70%);
	font-family: monospace;
	font-size: 9px;
	margin: 0px;
	height: 100px;
	overflow: auto;
	white-space: pre-wrap;
}
.border {
	border-color: var(--sol-dark-gray);
	border-style: solid;
	border-width: 1px;
}
.noborder {
	border-style: none;
}
.norm-font {
	font-size: 12pt;
}
.shadow {
	box-sizing: border-box;
	box-shadow: 0px 0px 7px -1px #000000;
}
.spacer {
	display: block;
	height: 15px;
	margin: 0px;
	padding: 0px;
}
.std-height {
	height: 250px;
}
/* tabs */
.tab-header {
	border-color: var(--sol-dark-green);
	border-style: none;
	border-width: 0px 0px 3px 0px;
	color: var(--mid-lite-gray);
	padding: 0px 3px 3px 3px;
	text-align: center;
	width: 120px;
}
.tab-header:hover {
	color: var(--sol-dark-gray);
	cursor: pointer;
	/* also used to identify tab headers elements */
}
.tab-selected {
	color: var(--sol-dark-gray);
	border-style: solid;
}
.tab-target {
	/* empty css class to identify tab body */
}
/* main side navigation bar */
.main-navi {
	border-color: var(--sol-dark-gray);
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	
	background-color: var(--sol-mid-gray);
	color: #ffffff;

	flex-direction: column;
	display: flex;
	width:	200px;
}
.main-navi .section-padding {
	padding: 20px 0px 20px 13px;
}
.main-navi .section {
	box-sizing: border-box;
	border-color: var(--sol-dark-gray);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	flex: 0 0 auto;
}
.main-navi .section .sidelogo {
	box-sizing: border-box;
	height: 28px;
	padding: 0px 0px 0px 15px;
}
.main-navi .section-navi {
	box-sizing: border-box;
	background-color: #000000;
	color: var(--sol-lite-gray);
	display: block;
	font-size: 12px;
	flex: 0 0 auto;
}
.main-navi .section-navi:last-of-type {
	flex: 1 1 auto;
}
.main-navi .section-navi .navi-container {
	border-style: none;
	box-sizing: border-box;
	color: var(--lightest-gray);
	margin: 15px 0px;
}
.main-navi .section-navi .navi-container .navi-item {
	box-sizing: border-box;
	border-color: #000;
	border-style: none;
	border-width: 1px 0px 1px 7px;
	font-size: 14px;
	margin: 0px;
	padding: 10px 0px 10px 10px;
	list-style-type: none;
}
.main-navi .section-navi .navi-container .navi-item:hover {
	box-sizing: border-box;
	background-color: var(--sol-mid-gray);
	cursor: pointer;
}
.main-navi .section-navi .navi-container .selected {
	box-sizing: border-box;
	border-color: var(--sol-lite-gray);
	border-style: solid;
	cursor: pointer;
}
/* main body */
.main-body {
	box-sizing: border-box;
	width: calc(100vw - 200px);
	min-height: 600px;
}

.main-body .section-main {
	background-color: #FAFAFA;
	border-color: var(--sol-dark-gray);
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;

	max-width: 1200px;
	margin: 5px 10px;
	padding: 10px;
	overflow: auto;
}
.main-body .section-main:first-of-type {
	margin-top: 10px;
}
.main-body .section-main:last-of-type {
	margin-bottom: 10px;
}
.main-body .section-main:hover {
	background-color: #FFF;
}
.main-body .section-main .section-title {
	background-color: var(--off-white);
	box-sizing: border-box;
	color: var(--sol-dark-gray);
	display: inline;
	font-family: Aptos, Calibri, Helvetica;
	font-weight: bold;
}
.main-body .section-main .message-list-table .message-row: {
	box-sizing: border-box;
}
.main-body .section-main .message-list-table .message-row:hover {
	background-color: var(--sol-lite-gray);
	cursor: pointer;
}
.main-body .section-main .message-list-table .message-row-selected {
	 border-color: var(--sol-dark-green);
	 border-style: solid;
	 border-width: 0px 3px 3px 0px;
}
.main-body .section-main .message-list-table .message-row .message-cell {
	border-style: none;
	font-family: monospace;
	font-size: 10pt;
	margin: 0px;
	padding: 3px 15px 3px 15px;
}
input.loginfield {
	flex: 1 1 200px;
	font-size: 10pt;
	min-width: 200px;
	max-width: 450px;
	margin: 2px;
	padding: 10px;
}